@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

.header_background {
  background-image: url(assets/header_logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  height: 100vh;
}

@media (min-width: 1000px) {
  .header_background {
    background-size: contain;
  }
}
